# OpenSiv3D GUIKit
AS_DEBUG/
*.html

# Application
App/GUIKit*

# Windows
.vs/
Intermediate/
*.user
*.aps
*.exe
*.lib

# MacOS
.DS_Store
*.app
*.dSYM
__MACOSX/
Dependencies/lib/macOS/
macOS/build/
DerivedData/
xcuserdata/

# Linux
Linux/**/build/
Linux/Test/build/
Linux/Test/OpenSiv3D/
Linux/Test/GUIKit_Example
