# OpenSiv3D
AS_DEBUG/
*.html

# GUIKit
App/GUIKit*

# Windows
.vs/
Intermediate/
*.user
*.aps
*.lib

# MacOS
.DS_Store
*.dSYM
__MACOSX/
Dependencies/lib/macOS/
macOS/build/
DerivedData/
xcuserdata/

# Linux
Linux/**/build/
gmon.out